@using System.Globalization
@model IEnumerable<T1809E.WAD.TEST101_TrangDM2.Models.Penalty>

@{
    ViewBag.Title = "Index";
}

<h2>Penalty List</h2>
<div class="row">
    <div class="container-fluid col-lg-6 alert-danger">
        <div class="col-lg-6 p-2">
            <b class="display-3">Push-Ups: @ViewBag.PushUp</b>
        </div>
        <div class="col-lg-6 p-2">
            <b class="display-3">Cashs: @ViewBag.Money.ToString("C", CultureInfo.CurrentCulture)</b>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
